@font-face {
    font-family: 'Somic';
    src: url('/chack-project/shared/ui/fonts/NT-Somic-0-6-2-beta/Webfonts/NTSomic-Medium.woff2');
}


*{
    font-family: 'Somic';
    padding: 0;
    margin: 0;
}
body{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar{
    padding-top: 12px;
    text-align: end;

}


#title{
    margin-bottom: 80px;
    color: aliceblue;
}
#register{
    width: 200px;
}
.nav-item{
    border: 1px solid;
    border-radius: 20px;
    height: 25px;
    transition: 0.2s;
    margin-right: 20px;
    text-decoration: none;
    color: aliceblue;
    display: inline-block;
    width: 100px;
    text-align: center;
}
.nav-item:hover{
    background-color: aliceblue;
    color: #0F2027;
    transition: 0.2s;
    
}
.container{
    width: 100%;
    height: 500px;
    margin-top: 50px;
    padding: 20px;
}
.welcome_container{
    width: 95%;
    height: 300px;
}
#welcome_text{
    margin-top: 20px;
    color: aliceblue;
}
.soc_links{
    margin-top: -3px;
    margin-left: 12px;
    position: absolute;
    cursor: pointer;
}
.col{
    height: 60px;
    width: 100%;
    flex-direction:row;
}
.Links{
    margin-left: 90px;
}